@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --strong-orange: #f76e11;
    --mid-orange: #ff9f45;
    --light-orange: #ffbc80;
    --red: #fc4f4f;
    --heading-font: "Nunito Sans", sans-serif;
    --text-font: "Nunito", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    color: #222222;
    >div {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }
}

input, label, textarea, select {
    height: 40px;
    vertical-align: center;
    appearance: none;
    font-family: var(--text-font);
    margin:0;
    background-color: white;
    vertical-align: middle;
	border: 1px solid var(--mid-orange);
	padding:0.25em 0.5em;
	line-height:1;
	font-size:17px;
    border-radius: 7px;
    &:focus {
        outline: 2px solid var(--light-orange);
    }
}

button {
    font-family: var(--text-font);
    &:active {
        transform: translateY(3px);
    }
    &:hover {
        outline: 2px solid var(--light-orange);
    }
}

dialog {
    border: none;
    background: transparent;
    max-width: 100%;
    padding: 0;
    &::backdrop {
        background: hsla(0, 0%, 0%, 0.2);
    }
}

.task-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    gap: 0.5em;
    background-color: var(--light-orange);
    background: linear-gradient(135deg, var(--strong-orange) 0%, var(--mid-orange) 70%);
    border: solid 2px var(--mid-orange); 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    &:hover {
        border: solid 2px var(--red); 
    }
    button {
        border: solid 1px var(--mid-orange);
        border-radius: 5px;
        height: 40px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background-color: var(--red);
    }
    #submit, #delete-btn {
    }
    #cancel-btn {
        height: 25px;
        width: 25px;
        padding: 0;
        line-height: 1px;
        align-self: end;
    }
    label:has(input[type=checkbox]) {
        display: flex;
        align-items: center;
        background-color: transparent;
    }
    label[for=project] {
        height: max-content;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        line-height: 1.3em;
        button {
            background-color: var(--mid-orange);
        }
        div {
            display: flex;
            margin-top: 10px;
            gap: 10px;
            input {
                width: 100%;
            }
        }
    }
    input[type=checkbox] {
        margin: 0 5px;
        width: 1em;
        height: 1em;
        position: relative;
        &:checked::before {
            content: '✓';
            font-weight: bold;
            position: absolute;
            color: var(--strong-orange);
            left: 2px;
            top: -9px;
            font-size: 1.5em;
        }
    }
    select {
        &#project {
            height: 80px;
            margin: 10px 0;
        }
        &#priority {
            appearance: auto;
            padding-left: 5px;
        }
        &:focus option:checked, option:checked {
            background-color: var(--light-orange);
        }
    }
    textarea {
        padding: 0.4em 0.5em;
        line-height: 1.4em;
        height: 100px;
    }
    label {
        border: none;
        background-color: var(--light-orange);
    }
}

.hide {
    display: none;
}

.task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 8px;
    gap: 10px;
    border: 1px dotted var(--light-orange);
    input[type=checkbox] {
        width: 20px;
        height: 20px;
        position: relative;
        &:checked::before {
            content: '✓';
            position: absolute;
            color: var(--strong-orange);
            left: 2px;
            top: -12px;
            font-size: 2em;
        }
        &:hover {
            border: solid 2px var(--red);
        }
    }
    p {
        margin: 0;
        font-size: 20px;
        cursor: pointer;
        flex: 1;
        word-wrap: break-word;
        width: 100px;
        line-height: 35px;
    }
    &.done p {
        text-decoration: line-through;
    }
    .priority {
        padding: 0 5px;
        font-size: 17px;
        font-weight: bold;
        border-radius: 4px;
        &.normal {
            color: var(--mid-orange);
            border: solid 1px var(--mid-orange);
            box-shadow: 2px 2px 0px var(--mid-orange);
        }
        &.low {
            color: var(--light-orange);
            border: solid 1px var(--light-orange);
            box-shadow: 2px 2px 0px var(--light-orange);
        }
        &.high {
            color: var(--strong-orange);
            border: solid 1px var(--strong-orange);
            box-shadow: 2px 2px 0px var(--strong-orange);
        }
        &.urgent {
            color: var(--red);
            border: solid 1px var(--red);
            box-shadow: 2px 2px 0px var(--red);
        }

    }
    span:not(.priority) {
        svg {
            width: 20px;
            height: 20px;
            display: block;
            pointer-events: none;
        }
        path {
            fill: lightgray;
            pointer-events: none;
        }
    }
    &.done {
        background-color: hsla(0, 0%, 75%, 0.1);
    }
    &:hover {
        box-shadow: 1px 1px 5px #9191912e;
    }
}

div.task span:hover path {
    fill: var(--strong-orange);
}


.details {
    border-top: 1px dotted var(--light-orange);
    flex: none;
    width: 100%;
    padding: 0 20px 10px 20px;
    p {
        font-size: 18px;
        width: calc(100% - 60px);
        margin: 10px 10px;
    }
    span {
        margin: 0 10px;
        padding: 0.1em 0.5em;
        font-size: 15px;
        font-weight: bold;
        border-radius: 4px;
        border: solid 1px var(--mid-orange);
        color: var(--mid-orange);
    }
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transform: translateZ(0);
    h1 {
        font-family: var(--heading-font);
        font-size: 1.6em;
        font-weight: 700;
        margin: 0;
    }
    #new-btn {
        width: fit-content;
        height: 34px;
        vertical-align: center;
        font-size: 20px;
        font-weight: bold;
        background-color: var(--red);
        color: white;
        border-radius: 5px;
        border: none;
        padding: 0 15px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
}

aside {
    min-width: max-content;
    background-color: var(--strong-orange);
    background: linear-gradient(45deg, var(--red) 0%, var(--strong-orange) 45%);
    color: white;
    padding: 25px;
    .app-name {
        color: white;
        font-family: var(--heading-font);
        font-size: 2em;
        font-weight: bold;
        height: 54px;
        margin: 0;
        text-align: center;
        span {
            text-shadow: 1px 1px var(--light-orange);
            font-weight: 900;
        }
    }
    .list {
        font-size: 20px;
    }
    .filters>.list {
        list-style: none;
        margin-top: 35px;
        margin-bottom: 35px;
        padding: 0;
        font-weight: bold;
        li {
            margin: 3px 0;
            &:has(span){
                cursor: pointer;
                &:hover {
                    text-decoration: var(--light-orange) wavy underline;
                }
            }
        }
        span {
            font-weight: 400;
        }
    }
    .sub.list {
        list-style: none;
        font-weight: 400;
        padding-left: 20px;
    }
    #newProjectBtn {
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: white;
        color: var(--strong-orange);
        font-weight: bolder;
        font-size: 22px;
        padding: 0;
        margin: 0 5px;
        line-height: 20px;
        vertical-align: middle;
    }
    form {
        margin: 10px 0;
        input {
           width: 90px;
           height: 30px;
        }
        button {
            background-color: var(--strong-orange);
            color: white;
            border: solid 1px white;
            font-weight: bold;
            height: 30px;
            border-radius: 7px;
        }
    }
}

main {
    padding: 15px;
    background-color: white;
    width: clamp(350px, 60vw, 700px);
    justify-self: center;
    h2 {
        font-family: var(--heading-font);
        color: var(--strong-orange);
        font-size: 1.4em;
    }
}

footer {
}

section:has(img) {
    .message {
        text-align: center;
        font-weight: 600;
        font-size: clamp(20px, 1.5vw, 30px);
    }
    img {
        width: 80%;
        min-width: 200px;
        max-width: 350px;
        align-self: center;
    }
    display: flex;
    flex-direction: column;
}
section:not(:has(.task)) {
    margin-top: 15vh;
}

@media screen and (max-width: 570px) {
    body {
        position: relative;
        display: block;
    }
    aside {
        padding: 15px 25px;
        .app-name {
            text-align: left;
        }
        .filters {
            margin: 0 30px;
            h3 {
                margin: 0;
                line-height: 84px;
                position: absolute;
                right: 25px;
                top: 0px;
            }
            ul {
                display: none;
                margin: 20px;
            }
        } 
        form input {
            width: 60%;
        }
    }
    main {
        width: 100%;
    }
    section h2:nth-child(1) {
        margin-top: 0px;
    }
    .task-form {
        margin: 20px;
    }
}

